# problems
.DS_Store/
**/build/
**/externals/
**/test/
**/*.gradle
src/android/EECS393Project/local.properties
/.idea
**/build
**/build/
/captures
*.iml
*.idea
src/android/EECS393Project/openCVLibrary310/*
*.idea/*
**/CMakeFiles/
**/CMakeCache.txt
**/*.make
**/*.cmake
**/Makefile
**/data/
**/devel/
**/catkin_generated/
**/gtest/
**/*.zip
**/*.bag
**/*.stl
**/*.pcd
**/*.ply
**/*.pyc
**/*.png
**/*.jpg
**/*.ppm
**/*.a
**/*~
