# problems
.DS_Store/
build/
externals/
test/
.gradle
src/android/EECS393Project/local.properties
/.idea
/build
/captures
*.iml
*.idea
src/android/EECS393Project/openCVLibrary310/*
*.idea/*
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
src/server/pipeline/DPPTAM_unros/data/
