<launch>

   <!-- launch the dpptam node -->
   <node pkg="dpptam" type="dpptam" name="dpptam">
   </node>

   <!-- launch the rosbag node -->
   <node pkg="rosbag" type="play" name="rosbag" args=" -d 5 "/home/josh/Workspace/unkei/src/server/pipeline/ORB_SLAM/Data/Example.bag" >
   </node>

</launch>
